@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    @apply outline-none ring-0;
}

:root {
    font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.25;
    font-weight: 400;

    color: rgba(242, 242, 242, 1);
    background-color: rgba(28, 28, 28, 1);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

h1:focus {
    outline: none;
}

.Typewriter {
    display: inline;
}

::-webkit-scrollbar {
    height: 0;
}
